.btn1{
    height: 90px;
    width: 95px;
    margin-top: 50px;
    margin-left: 2px;
    padding-right: 12px;
    background-color: aqua;
    align-items: center;
}
.pressed{
    visibility: hidden;
}
h1{
    text-align: center;
    padding-top: 100px;
}